h1{
    font-family: "Bangers", system-ui;
    font-weight: 100;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    background-color:green;
}


p{
    font-size: 25px;
}

h2{
    font-size: 30px;
}